


/* Background settings */
body {
    background-image: url(../images/gameBackground.jpeg);
    background-size: cover;
    text-align: center;

}

h1 {
    margin-top: 10%;
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    color: floralwhite;
}

h2 {
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    margin-top: 10%;

}
#nextButton {
    display: none;
}



.question-container {
  margin: auto;
  width: 500px;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  text-align: justify-all;
  font-size: xxx-large;
}

.question-container {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", ui-system, sans-serif;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.answer-options {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}

.answer-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: flex-start;
}
.answer-options input[type="button"] {
  margin-right: 500px;
}

.answer-options label span {
  cursor: pointer;
}

.btn {
  background-color : black;
  padding: 15px 230px;
  border: none;
  border-radius: 20px;
  font-size: 35px;
  color : yellow;
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
    color: white;
    font-size: xx-large;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

.messages.messages {

    color: red;
    font-size: xx-large;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
}


