<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block Pyzillionaire %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'game/css/styles.css' %}">
    <script src="{% static 'game/js/scripts.js' %}"></script>
    <script>src = "{% static 'game/js/gamescreen.js'}"</script>
</head>

    <body>
    <!-- Header -->
    <header>
        <nav>
            <a href="{% url 'index' %}"></a>

        </nav>
    </header>

    <!-- Body -->
    <main>
        {% block content %}
            <div>{% include 'messages.html' %}</div>
        {% endblock %}


    </main>

    <footer>
        <div><u> © Pyzillionaire 2023 </u></div>
    </footer>

    </body>

    </html>