<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game screen</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'game/css/styles.css' %}">
<script src='../../static/game/js/scripts.js'></script>
 <style>
        /* Add your styles for correct and incorrect answers here */
        .correct { color: green; }
        .incorrect { color: red; }
    </style>


<body>

    <form id="answerForm" method="post" action="{% url 'game_view' %}">
        {% csrf_token %}
        <input type="hidden" name="question_id" value="{{ question.id }}">

        <p>{{ question.question }}</p>

        <label>
            <input type="radio" name="answer" value="{{ question.answer_set.correct_answer }}">
            {{ question.answer_set.correct_answer }}
        </label>

        <label>
            <input type="radio" name="answer" value="{{ question.answer_set.incorrect_answer1 }}">
            {{ question.answer_set.incorrect_answer1 }}
        </label>

        <label>
            <input type="radio" name="answer" value="{{ question.answer_set.incorrect_answer2 }}">
            {{ question.answer_set.incorrect_answer2 }}
        </label>

        <label>
            <input type="radio" name="answer" value="{{ question.answer_set.incorrect_answer3 }}">
            {{ question.answer_set.incorrect_answer3 }}
        </label>

        <button type="submit">Next Question</button>
    </form>

  <script>
    function highlightAnswer(selectedOption) {
      // Reset the color of all options
      var options = document.querySelectorAll('input[type=radio]');
      options.forEach(function(option) {
        option.parentElement.style.backgroundColor = '';
      });

      // Highlight the selected option
      if (selectedOption.value === "{{ question.answer_set.correct_answer }}") {
        selectedOption.parentElement.style.backgroundColor = 'green';
      } else {
        selectedOption.parentElement.style.backgroundColor = 'red';
      }
    }
  </script>

<!--<form method="POST">-->
<!--<h1></h1>-->
<!--</form>-->
<!--<br>-->
<!--<button id="answerButton"><h3>Answer option 1<h3/></button>-->
<!--<button id="answerButton"><h3>Answer option 2<h3/></button>-->
<!--<br>-->
<!--<button id="answerButton"><h3>Answer option 3<h3/></button>-->
<!--<button id="answerButton"><h3>Answer option 4<h3/></button>-->
<!--<br>-->
<!--<br>-->
<!--<div>-->
<!--<button id="nextButton">-->
<!--    <h2>Next</h2>-->
<!--</button>-->
<!--</div>-->
</body>
</html>